@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    background-color: black;
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 2rem;
    border-width: 1rem;
}